@page "/validator/google"
@using AddressValidation.Demo.Models.Forms
@inherits AddressValidation.Demo.Features.Validators.Abstractions.AbstractValidatorComponent<Visus.AddressValidation.Integration.Google.Http.GoogleAddressValidationRequest, AddressValidation.Demo.Models.Forms.GoogleAddressValidationFormModel>

<PageTitle>Google Address Validation Demo</PageTitle>

<h1>Google Address Validation Demo</h1>

<RadzenStack>
    <RadzenRow>
        <RadzenColumn SizeXL="6" SizeLG="6">
            <LoadingIndicator @ref="SettingsLoadingIndicator">
                <RadzenTemplateForm TItem="GoogleApiSettingsFormModel"
                                    Data="@_settingsFormModel"
                                    Submit="OnSettingsFormSubmitAsync">
                    <RadzenFieldset AllowCollapse="true"
                                    Text="Settings">
                        <RadzenRow>
                            <RadzenColumn>
                                <RadzenFormField AllowFloatingLabel="false"
                                                 Component="ProjectId"
                                                 Style="width: 100%"
                                                 Text="Project ID"
                                                 Variant="Variant.Outlined">
                                    <ChildContent>
                                        <RadzenTextBox MaxLength="255"
                                                       Name="ProjectId"
                                                       Style="width: 100%"
                                                       Trim="true"
                                                       @bind-Value="@_settingsFormModel.ProjectId"/>
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Component="ProjectId"/>
                                    </Helper>
                                </RadzenFormField>
                            </RadzenColumn>
                        </RadzenRow>
                        <RadzenRow>
                            <RadzenColumn>
                                <RadzenFormField AllowFloatingLabel="false"
                                                 Component="ServiceAccountEmailAddress"
                                                 Style="width: 100%"
                                                 Text="Service Account Email"
                                                 Variant="Variant.Outlined">
                                    <ChildContent>
                                        <RadzenTextBox MaxLength="255"
                                                       Name="ServiceAccountEmailAddress"
                                                       Style="width: 100%"
                                                       Trim="true"
                                                       @bind-Value="@_settingsFormModel.ServiceAccountEmailAddress"/>
                                    </ChildContent>
                                    <Helper>
                                        <RadzenEmailValidator Component="ServiceAccountEmailAddress"/>
                                        <RadzenRequiredValidator Component="ServiceAccountEmailAddress"/>
                                    </Helper>
                                </RadzenFormField>
                            </RadzenColumn>
                        </RadzenRow>
                        <RadzenRow>
                            <RadzenColumn>
                                <RadzenFormField AllowFloatingLabel="false"
                                                 Component="PrivateKey"
                                                 Style="width: 100%"
                                                 Text="Private Key"
                                                 Variant="Variant.Outlined">
                                    <ChildContent>
                                        <RadzenTextArea class="avd-input-text-masked"
                                                        Name="PrivateKey"
                                                        Rows="20"
                                                        Style="width: 100%; resize: none"
                                                        @bind-Value="@_settingsFormModel.PrivateKey"/>
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Component="PrivateKey"/>
                                    </Helper>
                                </RadzenFormField>
                            </RadzenColumn>
                        </RadzenRow>
                        <RadzenRow class="rz-pt-10">
                            <RadzenButton ButtonStyle="ButtonStyle.Primary"
                                          ButtonType="ButtonType.Submit"
                                          Text="Save"
                                          Variant="Variant.Flat"/>
                        </RadzenRow>
                    </RadzenFieldset>
                </RadzenTemplateForm>
            </LoadingIndicator>
            <LoadingIndicator @ref="ValidateLoadingIndicator">
                <RadzenTemplateForm TItem="GoogleAddressValidationFormModel"
                                    Data="@AddressValidationFormModel"
                                    Submit="OnAddressValidationFormSubmitAsync">
                    <RadzenFieldset AllowCollapse="false"
                                    Text="Address">
                        <RadzenRow>
                            <RadzenColumn>
                                <RadzenFormField AllowFloatingLabel="false"
                                                 Component="AddressLine1"
                                                 Style="width: 100%"
                                                 Text="Address Line 1"
                                                 Variant="Variant.Outlined">
                                    <ChildContent>
                                        <RadzenTextBox AutoCompleteType="AutoCompleteType.AddressLine1"
                                                       Name="AddressLine1"
                                                       Style="width: 100%"
                                                       Trim="true"
                                                       @bind-Value="@AddressValidationFormModel.AddressLine1"/>
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Component="AddressLine1"/>
                                    </Helper>
                                </RadzenFormField>
                            </RadzenColumn>
                        </RadzenRow>
                        <RadzenRow>
                            <RadzenColumn>
                                <RadzenFormField AllowFloatingLabel="false"
                                                 Component="AddressLine2"
                                                 Style="width: 100%"
                                                 Text="Address Line 2"
                                                 Variant="Variant.Outlined">
                                    <RadzenTextBox AutoCompleteType="AutoCompleteType.AddressLine2"
                                                   Name="AddressLine2"
                                                   Style="width: 100%"
                                                   Trim="true"
                                                   @bind-Value="@AddressValidationFormModel.AddressLine2"/>
                                </RadzenFormField>
                            </RadzenColumn>
                        </RadzenRow>
                        <RadzenRow>
                            <RadzenColumn Size="6">
                                <RadzenFormField AllowFloatingLabel="false"
                                                 Component="CityOrTown"
                                                 Style="width: 100%"
                                                 Text="City"
                                                 Variant="Variant.Outlined">
                                    <RadzenTextBox AutoCompleteType="AutoCompleteType.AddressLevel1"
                                                   Name="CityOrTown"
                                                   Style="width: 100%"
                                                   Trim="true"
                                                   @bind-Value="@AddressValidationFormModel.CityOrTown"/>
                                </RadzenFormField>
                            </RadzenColumn>
                            <RadzenColumn Size="6">
                                <RadzenFormField AllowFloatingLabel="false"
                                                 Component="Province"
                                                 Style="width: 100%"
                                                 Text="State (Province)"
                                                 Variant="Variant.Outlined">
                                    <ChildContent>
                                        @if (Provinces.Count > 0)
                                        {
                                            <RadzenDropDown AllowClear="true"
                                                            AllowFiltering="true"
                                                            AllowVirtualization="true"
                                                            Change="OnProvinceChangedAsync"
                                                            Data="@Provinces"
                                                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                            Name="Province"
                                                            Style="width: 100%"
                                                            TextProperty="Value"
                                                            ValueProperty="Key"
                                                            @bind-Value="@AddressValidationFormModel.StateOrProvince"/>
                                        }
                                        else
                                        {
                                            <RadzenTextBox AutoCompleteType="AutoCompleteType.AddressLevel2"
                                                           Trim="true"
                                                           @bind-Value="@AddressValidationFormModel.StateOrProvince"/>
                                        }
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Component="Province"/>
                                    </Helper>
                                </RadzenFormField>
                            </RadzenColumn>
                        </RadzenRow>
                        <RadzenRow>
                            <RadzenColumn Size="6">
                                <RadzenFormField AllowFloatingLabel="false"
                                                 Component="PostalCode"
                                                 Text="Postal Code"
                                                 Variant="Variant.Outlined">
                                    <ChildContent>
                                        <RadzenTextBox AutoCompleteType="AutoCompleteType.PostalCode"
                                                       Name="PostalCode"
                                                       Trim="true"
                                                       @bind-Value="@AddressValidationFormModel.PostalCode"/>
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Component="PostalCode"/>
                                    </Helper>
                                </RadzenFormField>
                            </RadzenColumn>
                        </RadzenRow>
                        <RadzenRow class="rz-pt-10">
                            <RadzenButton Disabled="@ValidateLoadingIndicator.IsVisible"
                                          ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit"
                                          Variant="Variant.Flat" Text="Validate"/>
                            <RadzenButton Disabled="@ValidateLoadingIndicator.IsVisible"
                                          ButtonStyle="ButtonStyle.Secondary" ButtonType="ButtonType.Reset"
                                          Variant="Variant.Flat" Text="Clear"/>
                        </RadzenRow>
                    </RadzenFieldset>
                </RadzenTemplateForm>
            </LoadingIndicator>
        </RadzenColumn>
        <RadzenColumn SizeXL="6" SizeLG="6">
            <RadzenStack>
                <LoadingIndicator @ref="RequestLoadingIndicator">
                    <RadzenFieldset Style="width: 100%" Text="Request">
                        <SyntaxHighlighter Language="json">@RequestJson</SyntaxHighlighter>
                    </RadzenFieldset>
                </LoadingIndicator>
                <LoadingIndicator @ref="ResponseLoadingIndicator">
                    <RadzenFieldset Style="width: 100%" Text="Response">
                        <SyntaxHighlighter Language="json">@ResponseJson</SyntaxHighlighter>
                    </RadzenFieldset>
                </LoadingIndicator>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
</RadzenStack>
