@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveServer"/>

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => _isExpanded = !_isExpanded)"/>
            <RadzenLabel Text="Address Validation Demo"/>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@_isExpanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem class="font-awesome" Text="Home" Match="NavLinkMatch.All" Path="/" Icon="@("\uf015")"/>
            <RadzenPanelMenuItem class="font-awesome-brands" Text="FedEx" Path="/validator/fedex" Icon="@("\uf797")"/>
            <RadzenPanelMenuItem class="font-awesome-brands" Text="Google" Path="/validator/google" Icon="@("\uf1a0")"/>
            <RadzenPanelMenuItem class="font-awesome-brands" Text="UPS" Path="/validator/ups" Icon="@("\uf7e0")"/>
            <RadzenPanelMenuItem class="font-awesome" Text="Pitney Bowes" Path="/validator/pitney-bowes"
                                 Icon="@("\uf48b")"/>
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-p4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        <RadzenAlert AlertStyle="AlertStyle.Warning" Variant="Variant.Flat" Shade="Shade.Light" AllowClose="false">
            Designed for <strong>demonstration purposes only</strong> and should not be used in a Production
            environment.
        </RadzenAlert>
    </RadzenFooter>
</RadzenLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
